doctype html
html 

    head
         link(rel='stylesheet', href=css)
    body 
    div
        div.factura-1rst-page 
            div#factura-section-container
                header.factura-template-header 
                    img(src=imgHeader)
            div.factura-tables-container 
                table        
                    tr
                        td.codigo-sistema-background  Codigo Sistema:
                        td #{id_contrato}
                    tr    
                        td RNC
                        td #{ddocumento_identidad}
                    tr 
                        td Nombre
                        td #{nombre_cte}
                    tr 
                        td Direccion 
                        td #{direccion_cte}
                table 
                    tr 
                        td Tipo: 
                        td #{tipo_comp}
                    tr
                        td NCF: 
                        td #{ncf}
                    tr 
                        td Vencimiento 
                        td #{fecha_venc_ncf}
                    tr 
                        td Periodo 
                        td #{periodo}
                    tr 
                        td No.Factura 
                        td #{documento}
                //- table.factura-dsf-table
                //-     caption DETALLES SERVICIOS FACTURADOS
                //-     tr  
                //-         th Concepto
                //-         th Cant.
                //-         th Precio
                //-         th Importe 
                //-     each detalle in detalle
                //-         if detalle.basico == "A"
                //-             tr 
                //-                 td #{detalle.descripcion_producto1}
                //-                 td #{detalle.cantidad}
                //-                 td #{detalle.precio}
                //-                 td #{detalle.importe}
                //- table.factura-ddm-table
                //-     Caption.align-caption-right DATOS DE MEDICION
                //-         tr 
                //-             td Lectura Anterior
                //-             td #{lectura_anterior}
                //-             td Lectura Actual
                //-             td #{fecha_lectura}
                //-         tr 
                //-             td Serial 
                //-             td #{serial} 
                //-             td Consumo 
                //-             td #{consumo}
                //-         tr 
                //-             td Calibre 
                //-             td #{calibre}
                //-         tr 
                //-             td Marca 
                //-             td #{medidor}
                //-         tr  
                //-             td Tipo de Calculo 
                //-             td #{metodo}
            //-     table.factura-ts-table
            //-         tr 
            //-             th 
            //-                 span.squared-border A 
            //-                 th TOTAL SERVICIO 
            //-                 th #{monto_neto}
            //-     table.factura-dds-table
            //-         caption.align-caption-right  DATOS DEL SERVICIO
            //-         tr  
            //-             td Codigo Proceso 
            //-             td #{codigo_proceso}
            //-         tr
            //-             td Codigo Inmueble 
            //-             td #{cod_inmueble}
            //-         tr 
            //-             td Uso 
            //-             td #{clase_servicio}
            //-         tr 
            //-             td Cupo Básico (m3)
            //-             td
            //-         tr 
            //-             td Unidades 
            //-             td #{unidades}
            //-         tr 
            //-             td Tarifa 
            //-             td
            //-             td Estrato 
            //-             td #{estrato}
            //-     div.factura-4th-section
            //-         table.factura-zona-table 
            //-             caption ZONA 
            //-             tr 
            //-                 td #{zona}
            //-         table.factura-fv-table
            //-             caption FECHA VENCIMIENTO
            //-             tr 
            //-                 td #{fecha_vencimiento}
            //-     table.factura-oc-table
            //-         caption OTROS CONCEPTOS 
            //-             tr 
            //-                 th Concepto
            //-                 th Cant.
            //-                 th Precio
            //-                 th Importe
            //-             each detalle in detalle
            //-                 if detalle.basico == "B"
            //-                     tr 
            //-                         td #{detalle.descripcion_producto1}
            //-                         td #{detalle.cantidad}
            //-                         td #{detalle.precio}
            //-                         td #{detalle.importe}
            //-     table.factura-aviso-table
            //-         caption.align-caption-right AVISO 
            //-             tr 
            //-                 td #{notas_1}
            //-     div.ia-table-container
            //-         span.squared-border B 
            //-         span.total-otros-conceptos  TOTAL OTROS CONCEPTOS
            //-         p TOTAL FACTURA MES A+B 
            //-             span #{importe_total}
            //- table.factura-ia-table
            //-     caption.table-ia-caption  INFORMACION ADICIONAL
            //-         tr 
            //-             td Blance Anterior
            //-             td #{base_mora}
            //-         tr 
            //-             td Fecha Ultimo Pago
            //-             td #{fecha_ultimo_pago}
            //-         tr 
            //-             td Importe Ultimo Pago 
            //-             td #{monto_ult_pago}
            //-             table.factura-notas-table
            //-                 caption  NOTAS 
            //-                 tr  
            //-                     td #{notas_2}
            //- div.factura-last-section
            //-     div.last-section-titles
            //-         span FACTURA DEL MES
            //-         span DEUDA ANTERIOR
            //- div.fdm-table-container
            //-     table.factura-fdm-table
            //-         tr  
            //-             td Nombre 
            //-             td #{nombre_cte}
            //-         tr 
            //-             td Codigo Sistema
            //-             td #{id_contrato}
            //-         tr
            //-             td Codigo Proceso
            //-             td #{codigo_proceso}
            //-         tr 
            //-             td Fecha Emision
            //-             td #{fecha_documento}
            //-         tr 
            //-             td Factura No.
            //-             td #{documento}
            //-         tr 
            //-             td  Periodo
            //-             td #{periodo}
            //-         tr 
            //-             td Vencimiento 
            //-             td #{fecha_vencimiento}
            //-         tr 
            //-             td sello y Firma 
                 
            //-     div 
            //-         img.mini-logo-caasd(src="/img/logo-caasd-azul.png")
            //-         img.mini-texto-logo(src="/img/texto-logo-caasd-azul.png")
            //-         p Favor no colocar sellos sobre el codigo de barras
            //-         div.factura-total-last-section
            //-             p TOTAL FACTURA
            //-             p #{importe_total}          
            //-     div.da-table-container
            //-         table.factura-da-table
            //-             tr
            //-                 td Nombre 
            //-                 td #{nombre_cte}
            //-             tr
            //-                 td Codigo Sistema
            //-                 td #{id_contrato}                
            //-             tr 
            //-                 td sello y Firma 
            //-                 td 
            //-         div 
            //-             img.mini-logo-caasd(src="/img/logo-caasd-azul.png")
            //-             img.mini-texto-logo(src="/img/texto-logo-caasd-azul.png")
            //-             p Favor no colocar sellos sobre el codigo de barras
            //-             div.factura-total-last-section 
            //-                 p TOTAL DEUDA ANTERIOR
            //-                 p #{saldo_anterior}   
            <div class="factura-2nd-page">
                <img src="/img/factura-2nd-page.jpg" alt="">
            </div>                             
                          

                    

                    